<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body ng-app="MyApp">
    @RenderBody()

    @Scripts.Render("~/bundles/angular")
    <script src="~/app/MyApp.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
